section.implants#implants
	.implants__container
		.implants__content
			.implants__header
				h2.implants__title ПОДБЕРЁМ ИМПЛАНТЫ ПОД КЛИНИЧЕСКУЮ СИТУАЦИЮ И БЮДЖЕТ
			.implants__body
				.implants__item
					span._bg
					.implants__main
						h3.implants__main-title Бюджет
						span.implants__main-subtitle Dentium Implantium
						ul.implants__main-list
							li.implants__main-item
								span.implants__main-text - Коронка из диоксида цикония
							li.implants__main-item
								span.implants__main-text - КЛКТ зоны имплантации
						.implants__main-costs
							.implants__main-cost
								span.implants__main-cost-without
									span 41.000 ₽
								span.implants__main-note Без нанесения
							.implants__main-cost
								span.implants__main-cost-with
									span 50.000 ₽
								span.implants__main-note С нанесением
					.implants__picture
						img.implants__img(src='images/implants/img.png' alt='' loading='lazy')
				.implants__item
					span._bg
					.implants__main
						h3.implants__main-title Стандарт плюс
						span.implants__main-subtitle BREDENT SKY IMPLANT AnyRidge
						ul.implants__main-list
							li.implants__main-item
								span.implants__main-text - Коронка из диоксида цикония
							li.implants__main-item
								span.implants__main-text - КЛКТ зоны имплантации
						.implants__main-costs
							.implants__main-cost
								span.implants__main-cost-without
									span 62.000 ₽
								span.implants__main-note Без нанесения
							.implants__main-cost
								span.implants__main-cost-with
									span 71.000 ₽
								span.implants__main-note С нанесением
					.implants__picture
						img.implants__img(src='images/implants/img.png' alt='' loading='lazy')
				.implants__item
					span._bg
					.implants__main
						h3.implants__main-title Стандарт
						span.implants__main-subtitle Dentium Implantium INNO
						ul.implants__main-list
							li.implants__main-item
								span.implants__main-text - Коронка из диоксида цикония
							li.implants__main-item
								span.implants__main-text - КЛКТ зоны имплантации
						.implants__main-costs
							.implants__main-cost
								span.implants__main-cost-without
									span 52.000 ₽
								span.implants__main-note Без нанесения
							.implants__main-cost
								span.implants__main-cost-with
									span 61.000 ₽
								span.implants__main-note С нанесением
					.implants__picture
						img.implants__img(src='images/implants/img.png' alt='' loading='lazy')
				.implants__item.implants__item_premium
					span._bg
					.implants__main
						h3.implants__main-title Премиум
						span.implants__main-subtitle NOBEL
						ul.implants__main-list
							li.implants__main-item
								span.implants__main-text - Коронка из диоксида цикония
							li.implants__main-item
								span.implants__main-text - КЛКТ зоны имплантации
						.implants__main-costs
							.implants__main-cost
								span.implants__main-cost-without
									span 41.000 ₽
								span.implants__main-note Без нанесения
							.implants__main-cost
								span.implants__main-cost-with
									span 80.000 ₽
								span.implants__main-note С нанесением
					.implants__picture
						img.implants__img(src='images/implants/img.png' alt='' loading='lazy')
