section.intro#block1
	//.intro__img
	//	img(src='images/intro/img.png' alt='' loading='lazy')
	.intro__container
		.intro__content
			.intro__body
				.intro__left
					h2.intro__title <span class='intro__title-main'>Новый зуб без боли<i class='footnote'>*</i></span><br><span class='intro__title-second'>за день</span> по доступным ценам
						span.intro__title-note *97% пациентов не испытавают болевых ощущений, у остальных лишь небольшой дискомфорт
					p.intro__text Ответьте на 4 вопроса и получите: расчёт стоимости + компьютерная томография зоны имплантации + план лечения в 4 вариантах
					a.intro__btn._popup-link(href='#popup') Рассчитать стоимость
				.intro__right
					.intro__right-note
						p Мы работаем с несколькими производителями имплантатов.
						p Подберем систему имплантации под каждого пациента индивидуально!
