footer.footer
	.footer__container(data-type='footer')
		.footer__content
			.footer__left
				a.footer__logo(href='')
					img.footer__img(src='images/logo.png' alt='' loading='lazy')
				span.footer__copy © Все права защищены. «Доступная Стоматология» 2022
				h4.footer__title ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ, НЕОБХОДИМА КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА
				p.footer__text Все права защищены. Обращаем ваше внимание на то, что данный Интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437 Гражданского кодекса РФ.
			.footer__right
				a.footer__tel(href='tel:83833902525') 8 (383) <span>390-25-25</span>
				span.footer__work Работаем с <i>9:00</i> до <i>21:00</i>
				.footer__social
					a(href='')
						img(src='images/footer/icon1.svg' alt='' loading='lazy')
					a(href='')
						img(src='images/footer/icon2.svg' alt='' loading='lazy')
					a(href='')
						img(src='images/footer/icon3.svg' alt='' loading='lazy')
					a(href='')
						img(src='images/footer/icon4.svg' alt='' loading='lazy')
				span.footer__note Подписывайтесь на нас
				a.footer__policy(href='policy.html') Политика обработки персональных данных
