section.stages#stages
	.stages__container
		.stages__content
			.stages__header
				h2.stages__title ЭТАПЫ ЛЕЧЕНИЯ
			.stages__body
				ul.stages__list
					li.stages__item
						span.stages__link - Исследование зоны имплантации на дентальном компьютерном томографе
					li.stages__item
						span.stages__link - Осмотр стоматолога-хирурга (имплантолога). Подбор индивидуального метода имплантации.
					li.stages__item
						span.stages__link - Подбор подходящего типа коронки, в зависимости от индивидуальных показаний
					li.stages__item
						span.stages__link - Операция. Установка имплантата. Возможно под седацией или в наркозе.
					li.stages__item
						span.stages__link - Сканирование ротовой полости дентальным 3D-сканером, отправка виртуальной 3D-модели в зуботехническую лабораторию для изготовления коронки (протеза).
					li.stages__item
						span.stages__link - Фиксация готовой коронки (протеза) на имплантат.
