section.return
	.return__bg
	.return__container
		.return__content
			h2.return__title(style='max-width: 1090px;') Комфортное возвращение домой после операции
			span.return__subtitle(style='max-width: 543px; margin: 0 0 124px;') Вызовем такси до дома за счет клиники.
			h2.return__title Для иногородних
			span.return__subtitle(style='max-width: 697px;') Поможем с организацией проживания в городе и трансфером.

