.header__menu.menu
	button.menu__icon.icon-menu(type='button')
		span
		span
		span
	nav.menu__body
		ul.menu__list
			li.menu__item
				a.menu__link._link(href='#' data-link='.intro') О клинике
			li.menu__item
				a.menu__link._link(href='#' data-link='.doctors') Наши врачи
			li.menu__item
				a.menu__link._link(href='#' data-link='.stages') Этапы лечения
			li.menu__item
				a.menu__link._link(href='#' data-link='.implants') Цены
			li.menu__item
				a.menu__link._link(href='#' data-link='.request') Контакты
		a.menu__btn(href='') Записаться онлайн
		.header__inner-mobile
			.header__item
				.header__icon
					img(src='images/tel.svg' width='20px' height='20px' alt='' loading='lazy')
				.header__item-contacts
					a.header__item-link(href='') +7 (923) 109-25-25
					a(href='') Написать в WhatsApp
					span ул. Б. Хмельницкого, д. 15
			.header__item
				.header__icon
					img(src='images/tel.svg' width='20px' height='20px' alt='' loading='lazy')
				.header__item-contacts
					a.header__item-link(href='') +7 (923) 775-00-25
					a(href='') Написать в WhatsApp
					span ул. Гоголя, д. 1
			.header__item
				.header__icon
					img(src='images/clock.svg' width='26px' height='26px' alt='' loading='lazy')
				.header__item-contacts
					span.header__item-span Ежедневно
					span с 09:00 до 21:00
