section.doctors#doctors
	.doctors__container(data-type='doctors')
		.doctors__content
			.doctors__header
				h2.doctors__title НАШИ ВРАЧИ
			.doctors__body
				.doctors__item
					img.doctors__img(src='images/doctors/doc1.png' alt='' loading='lazy')
					.doctors__data
						h6.doctors__name Ашуров Далер Музаффарович
						span.doctors__address ул. Б. Хмельницкого, д. 15
				.doctors__item
					img.doctors__img(src='images/doctors/doc2.png' alt='' loading='lazy')
					.doctors__data
						h6.doctors__name Кириллов Евгений Викторович
						span.doctors__address ул. Б. Хмельницкого, д. 15
				.doctors__item
					img.doctors__img(src='images/doctors/doc3.png' alt='' loading='lazy')
					.doctors__data
						h6.doctors__name Федотов Иван Николаевич
						span.doctors__address ул. Гоголя, д. 1
				.doctors__item
					img.doctors__img(src='images/doctors/doc4.png' alt='' loading='lazy')
					.doctors__data
						h6.doctors__name Резиков Шехроз Хисомович
						span.doctors__address ул. Б. Хмельницкого, д. 15, ул. Гоголя, д. 1
				.doctors__item
					img.doctors__img(src='images/doctors/doc5.png' alt='' loading='lazy')
					.doctors__data
						h6.doctors__name Безклетко Степан Олегович
						span.doctors__address ул. Б. Хмельницкого, д. 15
