section.second
	.second__bg
	.second__container
		.second__content
			h3.second__title ПРОБЛЕМА:
			ul.second__list
				li.second__item
					span.second__text Испытываете <span>страх</span> перед стоматологами,<br>перенесли психологические травмы в прошло?
				li.second__item
					span.second__text Имеете <span>аллергические</span> реакции на<br>местную анестезию?
				li.second__item
					span.second__text Возникла <span>необходимость</span> длительной<br>стоматологической операции?
				li.second__item
					span.second__text У Вас повышенный <span>рвотный рефлекс</span>?
			h3.second__title РЕШЕНИЕ:
			p(style='margin: 0 0 18px;') <span>Седация</span> – расслабление, снятие<br>легкого стресса, введение в<br>состояние полудремы.
			p <span>Лечение «во сне»</span> – лечение с<br>применением общего наркоза,<br>погружение в глубокий сон.
